@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap");

.background {
    background-color: #0085f122;
}

.service {
    padding-top: 45px;
    padding-bottom: 45px;
    border-bottom: 4px dotted #FFFFFF;
}

.serviceTop {
    padding-bottom: 45px;
    border-bottom: 4px dotted #FFFFFF;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.bigColumn {
    flex: 1 1 100%;
    max-width: 100%;
}

.column {
    flex: 1 1 33.333333%;
    max-width: 33.333333%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.row {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.manyPic {
    position: relative;
    overflow: hidden; 
}

.manyPic::after {
    content: ''; /* 偽元素 */
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60%;
    background-color: #eee;
    opacity: 0.5;
}

.manyPic {
    padding: 40px;
    background-image: url('/pic/many.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
}

.title {
    flex: 1 1 100%;
    max-width: 100%;
}

.heading {
    margin-bottom: 40px;
    text-align: center;
}

.item {
    padding: 30px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.10);
    text-align: center;
}

.itemFriends {
    color: #03045E;
    padding: 30px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.10);
    text-align: center;
    height: 300px;
    background-color: #FFFFFF;
    border-radius: 20px
}

.itemsTitle {
    color: #03045E;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 3px dotted #eee;
}

.by {
    padding-top: 10px;
    color: #0077b6;
    opacity: 0.5;
    font-weight: 700;
}

.requesInput {
    width: 60%;
    margin-top: 15px;
    padding: 5px;
    padding-left: 6px;
    color: #A8DADC;
}

.msg {
    font-size: 15px;
}

.list {
    list-style-type: none;
    padding-top: 10px;
}

.listItems {
    color: #0077b6;
    opacity: 0.5;
    font-weight: 700;
    text-decoration: none;
}

.listItems:hover{
    color: #03045E;
}

.itemPomo {
    color: #03045E;
    padding: 30px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.10);
    text-align: center;
    height: 300px;
    background-color: #FFFFFF;
    border-radius: 20px
}

.itemPomo {
    color: #03045E;
    padding: 30px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.10);
    text-align: center;
    height: 300px;
    background-color: #FFFFFF;
    border-radius: 20px
}

.pomo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 40px;
}

.image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 40px;
}

.h2 {
    position: relative;
    width: 80px;
    height: 80px;
    background: #eff0f4;
    border-radius: 50%;
}

.btnGroup {
    margin-top: 50px;
}

.btn {
    margin: 10px 10px;
    padding: 6px 8px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover {
    background-color: #0056b3;
}

.btnPomo {
    margin: 10px 10px;
    padding: 6px 8px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.btnPomo:hover {
    background-color: #0056b3;
}

.btnRed {
    margin: 10px 10px;
    padding: 6px 8px;
    background-color: #E63946;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.btnRed:hover {
    background-color: #d90429;
}

.input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.pomoContent {
    color: #0077b6;
    opacity: 0.5;
    font-weight: 700;
    font-size: 60px;
    margin: 60px auto;
}

.pomoPic {
    width: 130px;
    opacity: 0.4;
    position: absolute;
    top: 180px
}

.containerCalendar{
    padding-top: 45px;
    padding-bottom: 45px;
    margin: auto;
    max-width: 90%;
}

.logoutbtn {
    position: fixed;
    top: 0;
    right: 0;
    margin: 20px 30px;
    padding: 8px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

@media (max-width: 900px) {
    .pomoPic {
        left: 50px;
    }
}

@media (max-width: 720px) {
    .row {
        display: block;
        margin: auto;
    }

    .container {
        padding: 0;
    }

    .column {
        max-width: 90%;
        margin: auto;
        box-sizing: content-box;
    }

    .btnGroup {
        margin-top: 10px;
    }

    .itemFriends {
        margin: 30px;
        font-size: 20px;
        height: auto;
    }

    .requesInput {
        margin-top: 35px;
    }

    .itemPomo {
        margin: 30px;
        font-size: 20px;
        height: auto;
    }
}
